In [17]:
import pandas as pd

In [23]:
# Load the dataset (replace 'movies.csv' with the actual file name)
df = pd.read_excel("C:/Users/PC-FMS/Documents/ME/Codegnan/AI/Movies_Dataset.xlsx")

In [27]:

# Query 1: Select all movies in the "Action" genre
action_movies = df[df["Genre"] == "Action"]
print("Action Movies:\n", action_movies)

Action Movies:
     Movie Name   Genre  Release_Year  IMDb_Rating  Revenue
4      Movie 5  Action          2012          6.6  1205.51
34    Movie 35  Action          2009          8.7   545.60
64    Movie 65  Action          2023          7.7  1137.79
65    Movie 66  Action          1999          3.1  1335.85
73    Movie 74  Action          2001          4.1   350.80
..         ...     ...           ...          ...      ...
930  Movie 931  Action          1994          8.6  1863.66
944  Movie 945  Action          2004          7.5  1709.81
980  Movie 981  Action          2022          5.2    28.40
988  Movie 989  Action          2023          4.1   231.67
998  Movie 999  Action          1996          8.9   941.67

[104 rows x 5 columns]

In [31]:
# Query 2: Select movies released after 2000
movies_after_2000 = df[df["Release_Year"] > 2000]
print("Movies After 2000:\n", movies_after_2000)

Movies After 2000:
     Movie Name     Genre  Release_Year  IMDb_Rating  Revenue
2      Movie 3   Romance          2002          5.2  1122.13
3      Movie 4   Romance          2001          4.5   581.84
4      Movie 5    Action          2012          6.6  1205.51
6      Movie 7   Mystery          2021          5.1  1683.99
7      Movie 8    Comedy          2005          4.0  1062.13
..         ...       ...           ...          ...      ...
988  Movie 989    Action          2023          4.1   231.67
989  Movie 990   Fantasy          2004          1.6  1056.58
991  Movie 992  Thriller          2004          9.2   251.25
995  Movie 996    Sci-Fi          2013          8.7   456.39
997  Movie 998   Fantasy          2016          8.1  1161.96

[518 rows x 5 columns]

In [33]:
# Query 3: Select movies with an IMDb rating greater than 8.5
high_rated_movies = df[df["IMDb_Rating"] > 8.5]
print("Movies with IMDb > 8.5:\n", high_rated_movies)

Movies with IMDb > 8.5:
      Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
34     Movie 35     Action          2009          8.7   545.60
51     Movie 52    Mystery          1998          9.0  1089.93
56     Movie 57     Comedy          1993          9.2  1586.13
74     Movie 75  Adventure          1999          8.6  1688.49
81     Movie 82    Mystery          1997          8.6  1238.32
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
992   Movie 993     Horror          1985          9.6   951.23
995   Movie 996     Sci-Fi          2013          8.7   456.39
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[148 rows x 5 columns]

In [35]:
# Query 4: Select only "Movie Name" and "Genre" columns
movie_genre = df[["Movie Name", "Genre"]]
print("Movie Name & Genre:\n", movie_genre)

Movie Name & Genre:
      Movie Name      Genre
0       Movie 1     Sci-Fi
1       Movie 2  Adventure
2       Movie 3    Romance
3       Movie 4    Romance
4       Movie 5     Action
..          ...        ...
995   Movie 996     Sci-Fi
996   Movie 997  Adventure
997   Movie 998    Fantasy
998   Movie 999     Action
999  Movie 1000     Horror

[1000 rows x 2 columns]

In [39]:
# Query 5: Select movies released between 1990 and 2010
movies_1990_2010 = df[(df["Release_Year"] >= 1990) & (df["Release_Year"] <= 2010)]
print("Movies from 1990 to 2010:\n", movies_1990_2010)

Movies from 1990 to 2010:
      Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
5       Movie 6    Fantasy          1997          2.4   485.22
..          ...        ...           ...          ...      ...
991   Movie 992   Thriller          2004          9.2   251.25
994   Movie 995     Sci-Fi          1997          2.0   342.98
996   Movie 997  Adventure          1993          6.2  1255.27
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[500 rows x 5 columns]

In [43]:
# Query 6: Count the number of movies in each genre
genre_counts = df["Genre"].value_counts()
print("Movies per Genre:\n", genre_counts)

Movies per Genre:
 Genre
Drama        113
Comedy       110
Fantasy      107
Thriller     107
Action       104
Adventure     96
Sci-Fi        93
Romance       91
Horror        90
Mystery       89
Name: count, dtype: int64

In [45]:
# Query 7: Find the highest IMDb-rated movie
highest_rated_movie = df[df["IMDb_Rating"] == df["IMDb_Rating"].max()]
print("Highest IMDb Rated Movie:\n", highest_rated_movie)

Highest IMDb Rated Movie:
     Movie Name    Genre  Release_Year  IMDb_Rating  Revenue
106  Movie 107  Romance          2007         10.0  1837.45
241  Movie 242   Comedy          2006         10.0   802.61
472  Movie 473  Fantasy          1985         10.0   845.18
564  Movie 565   Action          2020         10.0   943.50
610  Movie 611  Mystery          2017         10.0  1355.06
628  Movie 629  Mystery          1994         10.0   644.31

In [47]:
# Query 8: Find the average IMDb rating of all movies
average_imdb = df["IMDb_Rating"].mean()
print("Average IMDb Rating:", average_imdb)

Average IMDb Rating: 5.458600000000001

In [49]:
# Query 9: Find the total box office collection of all movies
total_revenue = df["Revenue"].sum()
print("Total Box Office Collection:", total_revenue)

Total Box Office Collection: 1049716.26

In [51]:
# Query 10: Select movies with box office earnings greater than 500 million
high_revenue_movies = df[df["Revenue"] > 500]
print("Movies with Revenue > 500M:\n", high_revenue_movies)

Movies with Revenue > 500M:
      Movie Name      Genre  Release_Year  IMDb_Rating  Revenue
0       Movie 1     Sci-Fi          2000          6.0  1680.53
1       Movie 2  Adventure          2000          2.2   987.24
2       Movie 3    Romance          2002          5.2  1122.13
3       Movie 4    Romance          2001          4.5   581.84
4       Movie 5     Action          2012          6.6  1205.51
..          ...        ...           ...          ...      ...
993   Movie 994  Adventure          1989          7.3  1273.65
996   Movie 997  Adventure          1993          6.2  1255.27
997   Movie 998    Fantasy          2016          8.1  1161.96
998   Movie 999     Action          1996          8.9   941.67
999  Movie 1000     Horror          1995          9.4  1390.70

[774 rows x 5 columns]

In [53]:
# Query 11: Rank movies based on IMDb rating
df["IMDb Rank"] = df["IMDb_Rating"].rank(ascending=False)
print("Movies Ranked by IMDb:\n", df[["Movie Name", "IMDb_Rating", "IMDb Rank"]])

Movies Ranked by IMDb:
      Movie Name  IMDb_Rating  IMDb Rank
0       Movie 1          6.0      432.5
1       Movie 2          2.2      869.0
2       Movie 3          5.2      529.5
3       Movie 4          4.5      609.5
4       Movie 5          6.6      353.5
..          ...          ...        ...
995   Movie 996          8.7      131.5
996   Movie 997          6.2      406.5
997   Movie 998          8.1      199.5
998   Movie 999          8.9      104.5
999  Movie 1000          9.4       54.0

[1000 rows x 3 columns]

In [55]:
# Query 12: Sort movies by release year in descending order
sorted_movies = df.sort_values(by="Release_Year", ascending=False)
print("Movies Sorted by Release Year:\n", sorted_movies)

Movies Sorted by Release Year:
     Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  IMDb Rank
320  Movie 321    Romance          2024          4.2   477.47      650.5
211  Movie 212     Comedy          2024          1.5   837.32      957.0
489  Movie 490   Thriller          2024          3.2  1536.79      765.5
808  Movie 809     Action          2024          6.0   714.96      432.5
917  Movie 918     Horror          2024          1.1  1042.80      991.0
..         ...        ...           ...          ...      ...        ...
509  Movie 510    Fantasy          1980          6.3  1260.11      392.0
798  Movie 799      Drama          1980          3.1  1587.13      774.0
496  Movie 497    Fantasy          1980          4.7  1683.97      588.0
794  Movie 795  Adventure          1980          4.5  1346.01      609.5
170  Movie 171    Mystery          1980          4.6  1684.78      599.0

[1000 rows x 6 columns]

In [57]:
# Query 13: Find all duplicate movie names (if any)
duplicate_movies = df[df.duplicated(subset=["Movie Name"], keep=False)]
print("Duplicate Movie Names:\n", duplicate_movies)

Duplicate Movie Names:
    Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  IMDb Rank
9    Movie 10      Drama          1996          3.2  1352.66      765.5
10   Movie 11    Mystery          2003          6.3   596.43      392.0
11   Movie 12     Sci-Fi          1988          3.0  1134.01      786.5
12   Movie 10      Drama          1996          3.2  1352.66      765.5
13   Movie 11    Mystery          2003          6.3   596.43      392.0
14   Movie 12     Sci-Fi          1988          3.0  1134.01      786.5
15   Movie 16     Comedy          2006          2.3  1322.79      856.0
16   Movie 17     Horror          2007          6.2  1114.31      406.5
17   Movie 18  Adventure          1998          7.9  1426.73      221.0
18   Movie 19     Comedy          1986          6.0  1783.44      432.5
19   Movie 20    Fantasy          1982          6.9  1598.08      329.0
20   Movie 16     Comedy          2006          2.3  1322.79      856.0
21   Movie 17     Horror          2007          6.2  1114.31      406.5
22   Movie 18  Adventure          1998          7.9  1426.73      221.0
23   Movie 19     Comedy          1986          6.0  1783.44      432.5
24   Movie 20    Fantasy          1982          6.9  1598.08      329.0

In [59]:

# Query 14: Remove duplicate movie names
df_no_duplicates = df.drop_duplicates(subset=["Movie Name"])
print("Movies After Removing Duplicates:\n", df_no_duplicates)

Movies After Removing Duplicates:
      Movie Name      Genre  Release_Year  IMDb_Rating  Revenue  IMDb Rank
0       Movie 1     Sci-Fi          2000          6.0  1680.53      432.5
1       Movie 2  Adventure          2000          2.2   987.24      869.0
2       Movie 3    Romance          2002          5.2  1122.13      529.5
3       Movie 4    Romance          2001          4.5   581.84      609.5
4       Movie 5     Action          2012          6.6  1205.51      353.5
..          ...        ...           ...          ...      ...        ...
995   Movie 996     Sci-Fi          2013          8.7   456.39      131.5
996   Movie 997  Adventure          1993          6.2  1255.27      406.5
997   Movie 998    Fantasy          2016          8.1  1161.96      199.5
998   Movie 999     Action          1996          8.9   941.67      104.5
999  Movie 1000     Horror          1995          9.4  1390.70       54.0

[992 rows x 6 columns]

In [61]:
# Query 15: Replace "Sci-Fi" genre with "Science Fiction"
df["Genre"] = df["Genre"].replace("Sci-Fi", "Science Fiction")
print("Updated Genre Names:\n", df)

Updated Genre Names:
      Movie Name            Genre  Release_Year  IMDb_Rating  Revenue  \
0       Movie 1  Science Fiction          2000          6.0  1680.53
1       Movie 2        Adventure          2000          2.2   987.24
2       Movie 3          Romance          2002          5.2  1122.13
3       Movie 4          Romance          2001          4.5   581.84
4       Movie 5           Action          2012          6.6  1205.51
..          ...              ...           ...          ...      ...
995   Movie 996  Science Fiction          2013          8.7   456.39
996   Movie 997        Adventure          1993          6.2  1255.27
997   Movie 998          Fantasy          2016          8.1  1161.96
998   Movie 999           Action          1996          8.9   941.67
999  Movie 1000           Horror          1995          9.4  1390.70

     IMDb Rank
0        432.5
1        869.0
2        529.5
3        609.5
4        353.5
..         ...
995      131.5
996      406.5
997      199.5
998      104.5
999       54.0

[1000 rows x 6 columns]

In [63]:
# Query 16: Select the first 10 movies
first_10_movies = df.head(10)
print("First 10 Movies:\n", first_10_movies)

First 10 Movies:
   Movie Name            Genre  Release_Year  IMDb_Rating  Revenue  IMDb Rank
0    Movie 1  Science Fiction          2000          6.0  1680.53      432.5
1    Movie 2        Adventure          2000          2.2   987.24      869.0
2    Movie 3          Romance          2002          5.2  1122.13      529.5
3    Movie 4          Romance          2001          4.5   581.84      609.5
4    Movie 5           Action          2012          6.6  1205.51      353.5
5    Movie 6          Fantasy          1997          2.4   485.22      844.5
6    Movie 7          Mystery          2021          5.1  1683.99      545.5
7    Movie 8           Comedy          2005          4.0  1062.13      672.5
8    Movie 9           Horror          1992          2.8  1592.74      815.0
9   Movie 10            Drama          1996          3.2  1352.66      765.5

In [65]:

# Query 17: Select the last 5 movies
last_5_movies = df.tail(5)
print("Last 5 Movies:\n", last_5_movies)

Last 5 Movies:
      Movie Name            Genre  Release_Year  IMDb_Rating  Revenue  \
995   Movie 996  Science Fiction          2013          8.7   456.39
996   Movie 997        Adventure          1993          6.2  1255.27
997   Movie 998          Fantasy          2016          8.1  1161.96
998   Movie 999           Action          1996          8.9   941.67
999  Movie 1000           Horror          1995          9.4  1390.70

     IMDb Rank
995      131.5
996      406.5
997      199.5
998      104.5
999       54.0

In [67]:

# Query 18: Group movies by genre and find the average IMDb rating for each genre
avg_rating_per_genre = df.groupby("Genre")["IMDb_Rating"].mean()
print("Average IMDb Rating per Genre:\n", avg_rating_per_genre)

Average IMDb Rating per Genre:
 Genre
Action             5.670192
Adventure          5.012500
Comedy             5.442727
Drama              5.173451
Fantasy            5.200000
Horror             5.814444
Mystery            5.778652
Romance            5.938462
Science Fiction    5.445161
Thriller           5.267290
Name: IMDb_Rating, dtype: float64

In [69]:
# Query 19: Find the number of movies released in each year
movies_per_year = df["Release_Year"].value_counts().sort_index()
print("Movies Released per Year:\n", movies_per_year)

Movies Released per Year:
 Release_Year
1980    26
1981    17
1982    21
1983    16
1984    16
1985    28
1986    21
1987    17
1988    20
1989    30
1990    21
1991    21
1992    26
1993    21
1994    23
1995    27
1996    26
1997    22
1998    29
1999    25
2000    29
2001    23
2002    24
2003    25
2004    20
2005    21
2006    23
2007    29
2008    24
2009    21
2010    20
2011    23
2012    20
2013    26
2014    20
2015    23
2016    14
2017    18
2018    18
2019    15
2020    20
2021    16
2022    25
2023    18
2024    32
Name: count, dtype: int64

In [71]:
# Query 20: Find the total box office collection per genre
revenue_per_genre = df.groupby("Genre")["Revenue"].sum()
print("Total Box Office Collection per Genre:\n", revenue_per_genre)

Total Box Office Collection per Genre:
 Genre
Action             111137.94
Adventure          103864.42
Comedy             122686.63
Drama              120311.32
Fantasy            109849.86
Horror              90395.52
Mystery             98832.93
Romance             94413.72
Science Fiction     85811.80
Thriller           112412.12
Name: Revenue, dtype: float64